body {
    background-color: rgba(28, 28, 28, 1);
}

.card {
    width: 550px;
    height: 550px;
    background-color: rgba(31, 41, 55, 1);
    margin: 64px auto 0 auto;
    padding-top: 115px;
    padding-left: 52px;
}

#header-content {
    margin-left:0px;
}

h1 {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: 40px;
    text-shadow: 0 0 2px black;
    margin-bottom: 0px;
}

#row1 {
    color: white;
}

#row2 {
    color: #4ADF86;
}

#helper_text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
    color: #D5D4D8;
}

#generate_btn {
    margin-top: 51px;
    background-color: #10B981;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    width: 191px;
    height: 42px;
}

#divider {
    margin-top: 35px;
    width: 446px;
    border: 1px solid #2F3E53;
    margin-left: 0px;
    margin-bottom: 35px;
}

#password-content {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.password_box {
    width: 211px;
    height: 39px;
    background-color: #273549;
    margin-right: 24px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #55F991;
}